name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
          channel: 'stable'

      - name: Flutter Clean
        run: flutter clean

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Prepare Keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          mkdir -p android/app
          if [ -n "$KEYSTORE_BASE64" ]; then
            echo "$KEYSTORE_BASE64" | base64 --decode > android/app/upload-keystore.jks
          fi

      - name: Build APKs (Split per ABI)
        run: flutter build apk --release --split-per-abi

      - name: Upload 32-bit APK (armeabi-v7a)
        uses: actions/upload-artifact@v4
        with:
          name: app-armeabi-v7a-release.apk
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk

      - name: Upload 64-bit APK (arm64-v8a)
        uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-release.apk
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk


  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
          channel: 'stable'

      - name: Flutter Clean
        run: flutter clean

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Setup Visual Studio Build Tools
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build Windows Release
        run: flutter build windows --release

      - name: Upload Windows EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-app-release
          path: build/windows/x64/runner/Release/